<div class="row">

 <div class="col-md-12">

 <h2>{{user.userName}} ({{user.email}})History</h2>
 <hr />

 <table class="table">
  <thead>

    <tr>
      <th scope="col">Login Date/Time</th>
      <th scope="col">Client Information</th>
    </tr>

  </thead>

  <tbody>
         {{#each user.loginHistory}}
         <tr>
             <td>{{dateTime}}</td>
             <td>{{userAgent}}</td>
         </tr>
         {{/each}}
    </tbody>

</table>

 </div>

</div>